target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/test-output/screenshots/testAddProductsInCart/testAddProductsInCart_20251023_131155_032.png
/test-output/screenshots/testAddReviewOnProduct/testAddReviewOnProduct_20251023_131209_660.png
/test-output/screenshots/testAddToCartFromRecommended/testAddToCartFromRecommended_20251023_130911_454.png
/test-output/screenshots/testCorrectUserLogin/testCorrectUserLogin_20251023_131001_916.png
/test-output/screenshots/testDownloadInvoiceAfterPurchase/testDownloadInvoiceAfterPurchase_20251023_131123_610.png
/test-output/screenshots/testExistingEmailRegistration/testExistingEmailRegistration_20251023_131011_741.png
/test-output/screenshots/testFillContactUsForm/testFillContactUsForm_20251023_130844_336.png
/test-output/screenshots/testIncorrectUserLogin/testIncorrectUserLogin_20251023_131006_352.png
/test-output/screenshots/testLoginBeforeCheckOut/testLoginBeforeCheckOut_20251023_131051_968.png
/test-output/screenshots/testRegisterBeforeCheckout/testRegisterBeforeCheckout_20251023_131045_526.png
/test-output/screenshots/testRegisterWhileCheckout/testRegisterWhileCheckout_20251023_131029_568.png
/test-output/screenshots/testRemoveProductsFromCart/testRemoveProductsFromCart_20251023_130433_856.png
/test-output/screenshots/testRemoveProductsFromCart/testRemoveProductsFromCart_20251023_130736_509.png
/test-output/screenshots/testScrollUpUsingArrowButton/testScrollUpUsingArrowButton_20251023_130914_591.png
/test-output/screenshots/testScrollUpWithoutUsingArrow/testScrollUpWithoutUsingArrow_20251023_130917_268.png
/test-output/screenshots/testSearchAProduct/testSearchAProduct_20251023_131148_310.png
/test-output/screenshots/testSearchProductsAndVerifyCartAfterLogin/testSearchProductsAndVerifyCartAfterLogin_20251023_131204_409.png
/test-output/TestsReport.html
/test-output/screenshots/testUserRegistration/testUserRegistration_20251023_130953_940.png
/test-output/screenshots/testVerifyAddressDetailsOnCheckout/testVerifyAddressDetailsOnCheckout_20251023_130822_170.png
/test-output/screenshots/testVerifyAllProducts/testVerifyAllProducts_20251023_131143_114.png
/test-output/screenshots/testVerifyProductQuantityInCart/testVerifyProductQuantityInCart_20251023_130426_636.png
/test-output/screenshots/testVerifyProductQuantityInCart/testVerifyProductQuantityInCart_20251023_130731_132.png
/test-output/screenshots/testVerifySubscriptionOnCartPage/testVerifySubscriptionOnCartPage_20251023_130422_190.png
/test-output/screenshots/testVerifySubscriptionOnCartPage/testVerifySubscriptionOnCartPage_20251023_130723_763.png
/test-output/screenshots/testVerifySubscriptionOnHomePage/testVerifySubscriptionOnHomePage_20251023_130859_828.png
/test-output/screenshots/testVerifyTestCasesPage/testVerifyTestCasesPage_20251023_131227_543.png
/test-output/screenshots/testViewAndCartBrandProducts/testViewAndCartBrandProducts_20251023_131157_702.png
/test-output/screenshots/testViewCategoryProducts/testViewCategoryProducts_20251023_130449_531.png
/test-output/screenshots/testViewCategoryProducts/testViewCategoryProducts_20251023_130753_344.png
/test-output/screenshots/testAddProductsInCart/testAddProductsInCart_20251104_104957_590.png
/test-output/screenshots/testAddReviewOnProduct/testAddReviewOnProduct_20251104_105010_290.png
/test-output/screenshots/testAddToCartFromRecommended/testAddToCartFromRecommended_20251104_104745_337.png
/test-output/screenshots/testCorrectUserLogin/testCorrectUserLogin_20251104_104831_303.png
/test-output/screenshots/testDownloadInvoiceAfterPurchase/testDownloadInvoiceAfterPurchase_20251104_104933_324.png
/test-output/screenshots/testExistingEmailRegistration/testExistingEmailRegistration_20251104_104839_035.png
/test-output/screenshots/testFillContactUsForm/testFillContactUsForm_20251104_104713_706.png
/test-output/screenshots/testIncorrectUserLogin/testIncorrectUserLogin_20251104_104846_328.png
/test-output/screenshots/testLoginBeforeCheckOut/testLoginBeforeCheckOut_20251104_104858_079.png
/testng.xml
/test-output/screenshots/testRegisterBeforeCheckout/testRegisterBeforeCheckout_20251104_104901_119.png
/test-output/screenshots/testRegisterWhileCheckout/testRegisterWhileCheckout_20251104_104906_151.png
/test-output/screenshots/testRemoveProductsFromCart/testRemoveProductsFromCart_20251104_104502_539.png
/test-output/screenshots/testScrollUpUsingArrowButton/testScrollUpUsingArrowButton_20251104_104749_592.png
/test-output/screenshots/testScrollUpWithoutUsingArrow/testScrollUpWithoutUsingArrow_20251104_104753_327.png
/test-output/screenshots/testSearchAProduct/testSearchAProduct_20251104_105021_465.png
/test-output/screenshots/testSearchProductsAndVerifyCartAfterLogin/testSearchProductsAndVerifyCartAfterLogin_20251104_105032_372.png
/test-output/screenshots/testUserRegistration/testUserRegistration_20251104_104909_722.png
/test-output/screenshots/testVerifyAddressDetailsOnCheckout/testVerifyAddressDetailsOnCheckout_20251104_104641_075.png
/test-output/screenshots/testVerifyAllProducts/testVerifyAllProducts_20251104_105041_788.png
/test-output/screenshots/testVerifyProductQuantityInCart/testVerifyProductQuantityInCart_20251104_104518_153.png
/test-output/screenshots/testVerifySubscriptionOnCartPage/testVerifySubscriptionOnCartPage_20251104_104527_574.png
/test-output/screenshots/testVerifySubscriptionOnHomePage/testVerifySubscriptionOnHomePage_20251104_104757_825.png
/test-output/screenshots/testVerifyTestCasesPage/testVerifyTestCasesPage_20251104_105122_598.png
/test-output/screenshots/testViewAndCartBrandProducts/testViewAndCartBrandProducts_20251104_105054_299.png
/test-output/screenshots/testViewCategoryProducts/testViewCategoryProducts_20251104_104559_215.png
